*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background: url(picpro.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

button{
padding: 10px 25px;
border:none;
background: darkred;
color:#fff;
cursor:pointer;
border-radius:5px;
}